.content {
    display: flex;
}

article {
    display: flex;
    flex-direction: column;
}

nav {
    margin: 1em;
    order: -1;
}

.article-content {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
}